button {
    width: 80;
    height: 80;
    border: solid;
    font-size: 25;
  }
  .textinput {
    width: 335;
    height: 50;
    font-size: 25;
    color: #0b0e0c;
    border: solid;
  }
  .main {
    width: 350px;
    /* position: absolute; */
    border: solid 4px;
    margin-left: 400px;
    background: linear-gradient(rgb(111, 149, 6), rgb(217, 0, 255));
  }